:root {
	--background-color: #f2f2ed;
	--primary-text-color: #404040;;
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

html, body * {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: "Inter", sans-serif, Arial, Helvetica;
}

/******************* Header ********************/
header div {
	display: flex;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
header div a {
	display: inline-flex;
	justify-content: center;
}
.navbar {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 10%;;
	row-gap: 20px;
	width: 50%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.navbar a {
	font-size: 1.3rem;
	text-decoration: none;
	position: relative;
	z-index: 2;
}
.navbar a::after {
    content: '';
    position: absolute;
    bottom: -3px;
	border-radius: 10%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #404040;
    transition: width 0.4s ease; /* Smooth width transition for underline */
	z-index: 2;
}
.navbar a:hover::after {
	width: 100%;
}
.full-width-line span {
	display: block;
	height: 2px;
	width: 100%;
	color: red;
	background-color: red;
	border: none;
}

/******************* Overview ********************/
#overview {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 100px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}
#overview h1 {
	font-size: 7rem;
	font-family: NPG;
}
#overview h2 {
	margin-top: 30px;
	width: 70%;
	font-size: 2rem;
}
#overview-img {
	width: 80%;
	margin-bottom: 40px;
}
#overview-img img {
	max-width: 780px;
	margin-top: 60px;
	margin-bottom: 5px;
}
#overview-img figcaption {
	font-size: 14px;
}
#overview p {
	text-align: left;
	font-size: 18px;
}

/******************* Media Queries ********************/
@media only screen and (max-width: 620px) {
	.navbar {
		flex-direction: column;
	}
	#overview h1 {
		font-size: 4rem;
	}
	#overview h2 {
		font-size: 1.5rem;
	}
}