:root {
	--background-color: #f2f2ed;
	--primary-text-color: #404040;
	--family-tree-fill: rgb(245, 150, 150)
}

@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: "Inter", sans-serif, Arial, Helvetica;
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
	background-color: var(--background-color);
	color: var(--primary-text-color);
	font-family: "Inter", sans-serif, Arial, Helvetica;
}

/******************* Header ********************/
header div {
	display: flex;
	margin: 0;
	margin-top: 20px;
	padding: 0;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
header div a {
	display: inline-flex;
	justify-content: center;
}
.navbar {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	column-gap: 8%;;
	row-gap: 20px;
	width: 50%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.navbar a {
	font-size: 1.3rem;
	text-decoration: none;
	position: relative;
	z-index: 2;
}
.navbar a::after {
    content: '';
    position: absolute;
    bottom: -3px;
	border-radius: 10%;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #404040;
    transition: width 0.4s ease; /* Smooth width transition for underline */
	z-index: 2;
}
.navbar a:hover::after {
	width: 100%;
}
.full-width-line span {
	display: block;
	height: 2px;
	width: 100%;
	color: red;
	background-color: red;
	border: none;
}

/******************* Overview ********************/
#overview {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-top: 100px;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	width: fit-content;
	height: auto;
}
#overview h1 {
	font-size: 7rem;
	font-family: NPG;
}
#overview h2 {
	margin-top: 30px;
	width: 70%;
	font-size: 2rem;
}
#overview-img {
	width: 80%;
	margin-bottom: 40px;
}
#overview-img img {
	max-width: 780px;
	margin-top: 60px;
	margin-bottom: 5px;
}
#overview-img figcaption {
	font-size: 14px;
}
#overview p {
	text-align: left;
	font-size: 18px;
}

/******************* Family Tree ********************/
#timeline {
	margin-top: 80px;
}
.drop-down {
	max-height: 50px;
	overflow: hidden;
	transition: max-height 1s ease;
}
.drop-down h3{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 10%;
	margin-right: 10%;
	padding: 15px 5px;
	border-top: 1px solid red;
}
.drop-down h3:hover {
	background-color: var(--family-tree-fill);
	color: var(--primary-text-color);
	.arrow {
		background-color: var(--family-tree-fill);
		border-color: var(--primary-text-color);
	}
}
.arrow {
	border: solid black;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 10px;
	transform: rotate(45deg) scale(0.5);
	margin-left: auto;
	white-space: nowrap;
	transition: transform ease 0.5s;
}
.arrow.flip {
	transform: rotate(225deg) scale(0.5);
}
#tree {
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid black;
	height: 500px;
	width: 70%;
}
.drop-down.flip {
	max-height: 700px;
}

/******************* Explore Further ********************/
#explore_further {
	display: flex;
	margin-top: 70px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#explore_further h2 {
	font-family: NPG;
	width: 90%;
	text-align: center;
	font-size: 3.5rem;
}
#explore_further h2 span {
	display: inline-block;
	height: 5px;
	margin-bottom: 18px;
	margin-left: 25px;
	margin-right: 25px;
	width: 30%;
	color: red;
	background-color: red;
	border: none;
}
.explore_images {
	display: flex;
	flex-direction: row;
	row-gap: 35px;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-left: 20px;
}
.explore_images figure {
	width: 450px;
	height: auto;
	padding: 20px;
}
.explore_images figure div {
	width: 100%;
	height: fit-content;
	overflow: hidden;
}
.explore_images img {
	width: 100%;
	height: auto;
	aspect-ratio: 1 / 1;
	z-index: 2;
	object-fit: cover;
	transition: all 0.6s ease;
	cursor: pointer;
}
.explore_images img:hover {
	transform: scale(1.15);
}
.explore_images picture {
	display: inline-block;
	height: auto;
	width: fit-content;
	box-sizing: border-box;
	z-index: 2;
	position: relative;
	overflow-y: hidden;
}
.explore_images picture::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 10px;
	background-color: yellow;
	box-sizing: border-box;
	transition: width 0.6s ease;
	z-index: 2;
}
.explore_images picture:hover::after {
	width: 100%;
}
.explore_images h3 {
	margin-top: 10px;
	font-size: 2.5vw;
	font-family: NPG;
}
.explore_images p {
	margin-top: 10px;
	font-size: 1.3vw;
}

/******************* Footer ********************/
footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-left: 40px;
	column-gap: 80px;
}
footer div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: fit-content;
	width: auto;
}
footer div img {
	width: 12vw;
	height: auto;
	mix-blend-mode: color-burn;
}
footer div div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 20px;
}
footer div div p {
	padding: 3px;
	font-size: 1.2rem;
}
.social-media-logos {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 22px;
	margin-bottom: 50px;
	width: 500px;
}
.social-media-logos svg {
	width: 3rem;
	height: auto;
	fill: var(--primary-text-color);
	cursor: pointer;
}
.bottom-links {
	background-color: var(--family-tree-fill);
	width: 100%;
	height: 60px;
	border-top: 2px solid rgb(233, 94, 94);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	align-items: center;
	padding-left: 45px;
}
.bottom-links a {
	background-color: inherit;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.bottom-links p {
	background-color: inherit;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	margin-left: auto;
	margin-right: 85px;
}
.all-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 0;
	column-gap: 7%;
}
.all-links div {
	width: fit-content;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	row-gap: 14px;
	width: 20%;
}
.all-links-bottom p {
	font-size: 18px;
	width: 80%;
}
.bottom-button {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	margin-top: 20px;
	width: 131px;
	height: 49px;
	align-items: center;
	column-gap: 10px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	background-color: var(--primary-text-color);
	cursor: pointer;
	position: relative;
}
.bottom-button svg {
	width: 20px;
	height: auto;
	background-color: var(--primary-text-color);
	fill: white;
	z-index: 3;
	margin-left: 15%;
}
.bottom-button p {
	background-color: transparent;
	color: white;
	z-index: 3;
}
.bottom-button::after {
	content: '';
	position: absolute;
	bottom: 0;
	transition: height 0.3s ease;
	width: 100%;
	height: 0;
	z-index: 2;
	background-color: rgb(45, 112, 238);
}
.bottom-button:hover::after {
	height: 100%;
}

/******************* Media Queries ********************/
@media only screen and (max-width: 1230px) {
	#explore_further h2 span {
		width: 20%;
	}
}

@media only screen and (max-width: 1000px) {
	#overview h1 {
		font-size: 5rem;
	}
	#overview h2 {
		font-size: 2rem;
	}
	#explore_further h2 span {
		width: 15%;
	}
	.explore_images figure {
		width: 300px;
		height: auto;
	}
}
@media only screen and (max-width: 620px) {
	.navbar {
		flex-direction: column;
	}
	#overview h1 {
		font-size: 4rem;
	}
	#overview h2 {
		font-size: 1.5rem;
	}
	#explore_further h2 span {
		width: 9%;
	}
}
@media only screen and (max-width: 427px) {
	.arrow {
		padding: 30px;
		border-width: 0 10px 10px 0;
		transform: rotate(45deg) scale(0.2);
	}
	.arrow.flip {
		transform: rotate(225deg) scale(0.2);
	}
	.drop-down {
		max-height: 85px;
	}
	.explore_images figure {
		width: 150px;
		height: auto;
	}
}